#navbar .logo{
	float:none;
	text-align: center;
} 

#navbar ul, #navbar ul li {
	float:none;
}

#navbar ul li a {
	padding: 5px;
	border: 1px #444 dotted;
}
#home-info 
 {
 	height: 550px;
 }
#home-info .info-img {
	display: none;
}
#home-info .info-content {
	float: none;
	width: 100%;
}

#showcase{
	height: 100%;
}
#showcase .showcase-content{
	padding-top:70px;
	padding-bottom:30px;
}

 .box{
 	float: none;
 	width: 100%;
 	padding:25px;
 }
 #about-info .about-left, #about-info .about-right{
 	float: none;
 	width: 100%;
 }
 #testimonials{
 	height: 100%;
 }